@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d114f;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  margin: 1px;
}

.calculator span {
  display: grid;
  margin: 1px;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #4d5e77;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator span:active {
  background: #74ff3b;
  color: #111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #e83f5b;
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  background: #3485ff;
}
